anaconda::mkl
anaconda::mkl-include
anaconda::intel-openmp
boost-cpp
cmake
compilers
cython
gstools
make
numpy
numpydoc
python=3.14
python-freethreading
pytest
prettytable
scipy
suitesparse
sphinx
sphinx_rtd_theme
sympy
